@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model HHMarketWebApp.ViewModels.ProductionDetail

@{ var displayItem = Model.listdata.ElementAt(0);
    var arrData = Model.listdata;
    var listItem = Model.listdata;
}

<style type="text/css">
</style>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/Content/hhstyle.css">
<link rel="stylesheet" type="text/css" href="~/Content/productDetail.css">
<div class="container" style="margin-top: 50px;">
    <div>
        <p style="color:blue; padding-bottom: 10px;">@Model.Title</p>
        <div style="width:100%">
            <div class="product_detail_left">
                <div style="display: table-cell; vertical-align: middle;">
                    <div class="div-image-left">
                        <table id="imgTable"></table>
                    </div>
                    <div class="div-image-right">
                        <img id="largeImageId" align="middle" class="productdetail_image_large" src="">
                    </div>
                </div>
                <div class="btn_addtocart" align="center">
                    <button class="Add-to-Cart" id="addToCartID">Add to Cart</button>
                </div>
            </div>
                <div class="product_detail_right">
                    <div>
                        <table>
                            <tr>
                                <p class="product-title"> @Html.DisplayFor(model => displayItem.ProductionName)</p>
                            </tr>
                            
                            <tr onclick="DoNav('../Production/ReviewProduction?id=@Model.ProductId')" style="cursor:pointer">
                                <td style="padding-top: 10px;">
                                    <table>
                                       <tr id="starReiewID"></tr>
                                    </table>
                                </td>
                                <td id="reviewCountID" class="review-count"></td>
                            </tr>

                            <tr>
                                <td style="color: blue; padding-top:10px;">
                                    Price:
                                </td>
                                <td id="priceID" class="price-product">
                                    @Html.DisplayFor(model => displayItem.Price)$
                                </td>                               
                            </tr>
                            <tr>
                                <td style="color: gray; padding-top:10px;">
                                    Color:
                                </td>
                                <td style="padding-top:10px;">

                                    <select name="color" id="colorID" size="4" style="min-width:100px;">
                                        @foreach (var itemPro in Model.listdata.GroupBy(item => item.Color))
                                        {
                                            <option onclick="changeColor('@itemPro.Key')" value=@itemPro.Key style="min-height:25px;">@itemPro.Key</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: gray; padding-top:10px;">
                                    Size:
                                </td>
                                <td style="padding-top:10px;">

                                    <select name="size" id="sizeID" size="4" style="min-width:100px;">
                                        @foreach (var itemPro in Model.listdata.GroupBy(item => item.Size))
                                        {
                                            <option onclick="changeSize(this)" value=@itemPro.Key style="min-height:25px;">@itemPro.Key</option>
                                        }
                                    </select>

                                </td>
                            </tr>

                        </table>
                        <p style="padding:10px;" id="descriptionID">
                            @Html.DisplayFor(model => displayItem.Description)
                        </p>
                    </div>
                </div>
        
        </div>
    </div>

    <input type="hidden" id="CartItem_Price" name="AAA" value="2">
    <input type="hidden" id="CartItem_ProductDetailID" name="BBB" value="2">
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var modelPro;
    var modelReview;
    $(document).ready(function () {
        @{  var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
        //  var json = serializer.Serialize(Model.listdata);
        }
        modelPro = @Html.Raw(Json.Encode(listItem));
        modelReview =  @Html.Raw(Json.Encode(Model.reviewListData));
        if (modelPro != null && modelPro != "undefined") {
            setUpImageTable(modelPro[0]);
            document.getElementById("colorID").selectedIndex = 0;
            changeColor(modelPro[0].Color);
        }
        displayReviewStar();
    });

    $("#addToCartID").click(function (event) {
	    event.preventDefault();

	    var action = '@Url.Action("AddToCart", "ShoppingCart")';
        var jsonObject = {
            "ProductDetailsId": document.getElementById("CartItem_ProductDetailID").value,
            "Price": document.getElementById("CartItem_Price").value,
            "Amount" : "1"
        };

	    $.ajax({
            url: "../ShoppingCart/AddToCart",
		    type: "POST",
            data: JSON.stringify({ item: jsonObject }),
		    dataType: "json",
		    contentType: "application/json; charset=utf-8",

		    success: function (response) {
			    //alert(response);
                alert('add shopping cart successfully');
                document.location.href = '../ShoppingCart/Index';
		    },
		    error: function (response) {
			    //alert(response.responseText);
                alert(response);
		    }
	    });
    });

    function DoNav(url) {
        document.location.href = url;
    }
    function setUpImageTable(modelPro) {
        var imageList = modelPro.Picture.split(',');
         
        var table = document.getElementById("imgTable");
        //var table = $("#imgTable");
        table.innerHTML = ' ';
        for (var r = 0; r < imageList.length; r++) {
            if (r == 0) {
                //var largeImage = document.getElementById("largeImageId");
                $("#largeImageId").attr("src", '/assets/production/' + modelPro.ProductId + '/' + modelPro.Color + '/' + imageList[r]);
                //var largeImage = $("#largeImageId");
                //largeImage.src = '/assets/production/' + modelPro.ProductId + '/' + modelPro.Color + '/' + imageList[r];
            }
            var row = table.insertRow(r);
            row.setAttribute("class", "productdetail_image_rectangle");
            row.setAttribute("align", "center");
            //row.insertCell(0).innerHTML = '<img align="middle" class="productdetail_image" src="/assets/production/' + modelPro.ProductId + '/' + modelPro.Color + '/' + imageList[r] + '">';
            row.insertCell(0).innerHTML = '<img align="middle" class="productdetail_image" src="/assets/production/' + modelPro.ProductId + '/' + modelPro.Color + '/' + imageList[r] + '" onmouseover="prev(\'' + imageList[r] + '\',\'' + modelPro.ProductId + '\',\'' + modelPro.Color + '\')" >';
        }
    }
    function prev(image, productId, color) {
        // sai: $("#largeImageId").src = '/assets/production/' + productId + '/' + color + '/' + image;
        $("#largeImageId").attr("src", '/assets/production/' + productId + '/' + color + '/' + image);
    }
    function displaySize(color) {
        var sizeList = document.getElementById("sizeID").options;  
        var sizeText = "undefined";
        if (document.getElementById("sizeID").selectedIndex >=0 )
            sizeText = document.getElementById("sizeID").options.item(document.getElementById("sizeID").selectedIndex).value;
        var chooseItem = false;
        for (var a = 0; a < sizeList.length; a++) {
            sizeList.item(a).setAttribute("style", "color:gray; min-height:25px;");
        }
        for (var i = 0; i < modelPro.length; i++) {
            if (color == modelPro[i].Color) {
                for (var s = 0; s < sizeList.length; s++) {
                    if (sizeList.item(s).text == modelPro[i].Size && modelPro[i].Amount > 0) {
                        sizeList.item(s).setAttribute("style", "color:black; min-height:25px;");
                        if (chooseItem == false) {
                            document.getElementById("sizeID").selectedIndex = s;
                            chooseItem = true;
                        }
                    } 
                    if (sizeText == sizeList.item(s).text && sizeText == modelPro[i].Size && modelPro[i].Amount > 0) {
                        sizeList.item(s).setAttribute("style", "color:black; min-height:25px;");
                        document.getElementById("sizeID").selectedIndex = s;
                        chooseItem = true;
                    }
                }
            }
        }
        if (chooseItem == false) {
            document.getElementById("sizeID").selectedIndex = -1;
        }
    }
    function displayColor(size) {
        var colorList = document.getElementById("colorID").options;
        var colorText = "undefined";
        if (document.getElementById("colorID").selectedIndex >= 0)
             colorText = document.getElementById("colorID").options.item(document.getElementById("colorID").selectedIndex).value;
        var chooseItem = false;
        for (var a = 0; a < colorList.length; a++) {
            colorList.item(a).setAttribute("style", "color:gray; min-height:25px;");
        }
        for (var i = 0; i < modelPro.length; i++) {
            if (size == modelPro[i].Size) {
                for (var s = 0; s < colorList.length; s++) {
                    if (colorList.item(s).text == modelPro[i].Color && modelPro[i].Amount > 0) {
                        colorList.item(s).setAttribute("style", "color:black; min-height:25px;");
                        if (chooseItem == false) {
                            document.getElementById("colorID").selectedIndex = s;
                            chooseItem = true;
                        }
                    }
                    if (colorText == colorList.item(s).text && colorText == modelPro[i].Color && modelPro[i].Amount > 0) {
                        colorList.item(s).setAttribute("style", "color:black; min-height:25px;");
                        document.getElementById("colorID").selectedIndex = s;
                        chooseItem = true;
                    }
                }
            }
        }
        if (chooseItem == false) {
            document.getElementById("colorID").selectedIndex = -1;
        }
    }
   
    function changeColor(color) {
        displaySize(color);
        var size = $("#sizeID option:selected").val();
     
        /* if (size < 0) {
            $("#addToCartID").hide();
        } else {
            $("#addToCartID").show();
        }
        */
        if (modelPro != null && modelPro != "undefined") {
            for (var i = 0; i < modelPro.length; i++) {
                if (color == modelPro[i].Color && size == modelPro[i].Size) {
                    document.getElementById("priceID").innerText = modelPro[i].Price + "$";
                    setUpImageTable(modelPro[i]);
                    document.getElementById("descriptionID").innerText = modelPro[i].Description;

                    //alert(modelPro[i].ProductDetailsId);
                    document.getElementById("CartItem_Price").value = modelPro[i].Price;
                    document.getElementById("CartItem_ProductDetailID").value = modelPro[i].ProductDetailsId;

                    break;
                }
            }
        }
    }
    function changeSize(ob) {
        var size = ob.value;
        displayColor(size);
        var color = $("#colorID option:selected").val();
        /*  if (color < 0) {
             $("#addToCartID").hide();
         } else {
             $("#addToCartID").show();
         }
         */
        if (modelPro != null && modelPro != "undefined") {
            for (var i = 0; i < modelPro.length; i++) {
                if (color == modelPro[i].Color && size == modelPro[i].Size) {
                    document.getElementById("priceID").innerText = modelPro[i].Price + "$";
                    setUpImageTable(modelPro[i]);
                    document.getElementById("descriptionID").innerText = modelPro[i].Description;
                    break;
                }
            }
        }
    }
   
    function displayReviewStar() {
       
        var reviewRow = document.getElementById("starReiewID");
        reviewRow.innerHTML = ' ';
        // add start
        if (modelReview != null && modelReview != "undefined" && modelReview.length > 0) {
            var count = 0;
            for (var i = 0; i < modelReview.length; i++) {
                //alert(modelReview[i].Title);
                count += modelReview[i].OverallRating;
            }
            var overrallRating = count / modelReview.length;
            document.getElementById("reviewCountID").textContent = "" + modelReview.length + " customer reviews";

            if (overrallRating == 0 || overrallRating == 1 || overrallRating == 2 || overrallRating == 3 || overrallRating == 4 || overrallRating == 5) {
                setUpRatedStar(overrallRating, reviewRow);
            }
            else if (overrallRating > 1 && overrallRating < 2) {
                setUpRatedStarPartial(1, reviewRow);
            }
            else if (overrallRating > 2 && overrallRating < 3) {
                setUpRatedStarPartial(2, reviewRow);
            }
            else if (overrallRating > 3 && overrallRating < 4) {
                setUpRatedStarPartial(3, reviewRow);
            }
            else if (overrallRating > 4 && overrallRating < 5) {
                setUpRatedStarPartial(4, reviewRow);
            }
        } else {
            setUpEmtyStars(overrallRating, eviewRow);
        }

        function setUpRatedStarPartial(position, reviewRow) {

            for (var j = 0; j < position; j++) {
                reviewRow.insertCell(j).innerHTML = '<img class="star" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDE4IDE4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxOCAxOCI+PHBhdGggZmlsbD0iIzAwMDAwMCIgZD0iTTkgMGwyLjUgNi44aDYuNWwtNS40IDQuMiAyIDctNS42LTQuMy01LjYgNC4zIDItNy01LjQtNC4yaDYuNXoiLz48L3N2Zz4=" />';
              }
            // set for position
            reviewRow.insertCell(position).innerHTML = '<img class="star" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMzUgMzUgMTggMTgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMzUgMzUgMTggMTgiPjxwYXRoIGZpbGw9IiMwMDAwMDAiIGQ9Ik00NCA0OC44bC01LjYgNC4yIDEuOS03LjEtNS4zLTRoNi42bDIuNC02LjkiLz48cGF0aCBmaWxsPSIjZTZlN2U4IiBkPSJNNDQgMzVsMi40IDYuOWg2LjZsLTUuMyA0IDEuOSA3LjEtNS42LTQuMiIvPjwvc3ZnPg==" />';
        
            for (var j = position + 1; j < 5; j++) {
                reviewRow.insertCell(j).innerHTML = '<img class="star" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDE4IDE4Ij48cGF0aCBmaWxsPSIjZTZlN2U4IiBkPSJNOSAwbDIuNSA2LjhoNi41bC01LjQgNC4yIDIgNy01LjYtNC4zLTUuNiA0LjMgMi03LTUuNC00LjJoNi41eiIvPjwvc3ZnPg==" />';
              }
        }

        function setUpEmtyStars(reviewRow) {
            for (var k = 0; k < 5; k++) {
                reviewRow.insertCell(k).innerHTML = '<img class="star"  src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDE4IDE4Ij48cGF0aCBmaWxsPSIjZTZlN2U4IiBkPSJNOSAwbDIuNSA2LjhoNi41bC01LjQgNC4yIDIgNy01LjYtNC4zLTUuNiA0LjMgMi03LTUuNC00LjJoNi41eiIvPjwvc3ZnPg==" />';
            }
        }
        function setUpRatedStar(overrallRating, reviewRow) {
            if (overrallRating == 0) {
                setUpEmtyStars(reviewRow);
                return;
            }
            for (var j = 0; j < overrallRating; j++) {
                reviewRow.insertCell(j).innerHTML = '<img class="star" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDE4IDE4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxOCAxOCI+PHBhdGggZmlsbD0iIzAwMDAwMCIgZD0iTTkgMGwyLjUgNi44aDYuNWwtNS40IDQuMiAyIDctNS42LTQuMy01LjYgNC4zIDItNy01LjQtNC4yaDYuNXoiLz48L3N2Zz4=" />';

            }
            for (var j = overrallRating; j < 5; j++) {
                reviewRow.insertCell(j).innerHTML = '<img class="star"  src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDE4IDE4Ij48cGF0aCBmaWxsPSIjZTZlN2U4IiBkPSJNOSAwbDIuNSA2LjhoNi41bC01LjQgNC4yIDIgNy01LjYtNC4zLTUuNiA0LjMgMi03LTUuNC00LjJoNi41eiIvPjwvc3ZnPg==" />';
            }
        }


    }
</script>